@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Serviço de Administração de Prédios</title>

</head>
<body>
    <h1>Bem-vindo ao Sistema de Cadastro de Imóveis</h1>

    <h2>Imóveis</h2>
    <p>Aqui você pode cadastrar informações sobre imóveis e suas garagens. Um imóvel pertence a uma pessoa que também pode ser cadastrada.</p>

    <h3>Cadastro de Pessoa</h3>
    <p>Primeiro, vamos cadastrar as pessoas que possuem imóveis. Para cada pessoa, registramos o nome, endereço e outras informações relevantes.</p>

    <h3>Cadastro de Imóvel</h3>
    <p>Depois de cadastrar as pessoas, você pode registrar informações sobre os imóveis. Cada imóvel terá detalhes como endereço, número de quartos, número de banheiros e outros atributos.</p>

    <h3>Cadastro de Garagem</h3>
    <p>Além das informações básicas do imóvel, você também pode registrar informações sobre a garagem associada a cada imóvel, como o número de vagas e seu tamanho.</p>

    <h2>Pronto para começar?</h2>
    <p>Agora que você entende como funciona, você pode começar a cadastrar pessoas, imóveis e garagens no sistema. Basta seguir as instruções e preencher os formulários correspondentes.</p>
</body>
</html>
