@model Garagem
@{
    ViewData["Title"] = "Adicionar Imovel";
    IEnumerable<Imovel> imoveis = (IEnumerable<Imovel>)ViewBag.DadosImoveis;
}

@if (TempData["MensageErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" data-bs-dismiss="alert" aria-label="Close">X</button>
        @TempData["MensageErro"];
    </div>
}

<form asp-controller="Garagem" asp-action="AdicionarGaragem" method="post">
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="codImovel">Código Imovel</label>
            <input type="text" asp-for="codGaragem" class="form-control" id="CodImovel" required>
        </div>
        <div class="form-group col-md-12">
            <label for="imovel">Imovel</label>
            <select asp-for="IdImovel" class="form-control" required>
                <option value="0">Selecione</option>
                @foreach (var imovel in imoveis)
                {
                    <option value="@imovel.Id">@imovel.codImovel</option>
                }
            </select>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Cadastrar</button>
    </div>
</form>